.main-content-layout {
    margin-top: 4rem;
}

.powered-label {
    font-size: 12px;
    margin-right: 10px;
    margin-top: 4px;
}

.powered-brand {
    text-decoration: none;
    color: #01417A;
    margin-bottom: 4px;
    font-weight: 600;
}

.powered-by-container {
    margin-top: -18px;
    padding-left: 11rem;
}
